/* GENERAL */

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1700px;
   
}

*{box-sizing: border-box;}

header, main{
    margin: 20px;
}

body a{
    text-decoration: none;
    color: black;
}